<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/abels/IdeaProjects/QALegendBilling">
        <classes>
            <class name="com.qalegend.testscript.LoginTest">
                <methods>
                    <include name="TC002_verifyValidLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>